/* text box and make it so it doesn't overflow out of the box */
#about.description{
    font-family: monospace;
    font-size: 1.5rems;
    font-weight: normal;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    height: 100rem;
    width: 40rem;
}

/* tittle (contain name, and simple text with icon)  */
#about.tittle_text{
    padding-bottom: 0rem;
}
#about.tittle_text h1{
    font-size: 2.5rem;
}

/* education section */
#textbox.brooklyncollege{
   border-left: 3px solid rgba(17, 17, 17, 0.5);
}

#education.brooklyncollege{
    padding-left: 4px;
    font-size: .9rem;
}

/* hobbie section */
#bulletpoint.hobbie{
    font-size:1.2rem;
}